.signupDetails {
  background: #fe8c00; /* fallback for old browsers */
  background: #fe8c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f83600,
    #fe8c00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f83600,
    #fe8c00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: whitesmoke;
}

.container .form_2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 40%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
}

.form_2 h1 {
  text-align: center;
  margin-top: 0.7rem;
  margin-bottom: 1.5rem;
}

.sign_input {
  border: none;
  outline: none;
  border-bottom: 1px solid;
  background: none;
  margin: 0.9rem 2rem;
  font-size: 1rem;
}

.sign_label {
  margin: 0 2rem;
}

/*.forget {
    margin: 0 2rem;
    color: blue;
    cursor: pointer;
  }
  */
.sign_btn {
  margin: 2rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 1rem;
  border: 0.25em solid;
  font-size: 1.1rem;
  font-weight: bolder;
  color: #fff;
  background: linear-gradient(to right, #ff2400, #ed2939, #c21807, #ff0800);
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.sign_btn:hover {
  border-color: #ff6666;
  color: white;
  box-shadow: 0 0.25em 0.25em -0.2em;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.signupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 50px;
}

.signupDetails {
  width: 600px;
}

.signupButton {
  width: 100%;
  margin-top: 1rem;
}
